<!DOCTYPE html>
<html>
  <head>
    <title>PopcornTime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<%= render '/layouts/header' %>

  <div class="container">
    <body>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    </body>
  </div>
</html>
